html
	head

	body
		form(action='/hobby', method='POST',)
			input(type='text', name='hobby' placeholder='Add new leisure activity')
			button(type="submit" formmethod='post') Log	
			
		if activities
		ul(id='activityList')
			- for(let i = 0; i < activities.length; i++){	
					li.buttons
						button(id='toggle' + i, data-name=activities[i].name) #{activities[i].name} 
							span(id='timer'+i) Start
				
			-}
				

script(src="../static/js/jquery-3.1.1.min.js")
script.
	console.log('??????????????????')
	console.log(#{activities.length})	
	var activitiesLength = #{activities.length};
		console.log('///////////////////////////////')
		console.log('logging: activitiesLength' + activitiesLength)	
	//- var ListItems = []
	//- 	for (i = 0; i < ListItems.length ; i++){
	//- 		console.log('///////////??????????///////////')
	//- 		console.log('logging list items ' + Li)
	//- 	}

	setInterval(function(){
		var timers = []
		for(var i = 0; i < !{activities.length}; i++){
			timers.push({
				timer: document.getElementById('timer'+i).innerHTML,
				activityName: $('#toggle'+i).data('name')
			})
			//- console.log(timers[i].activityName)
			//- console.log('logging timer //////////////' + timer)
		}
			console.log(timers)
		$.post('/hobbyGoal', {timers: JSON.stringify(timers)})
	}, 3000)


script(src="../static/js/stopwatch.js")
script(src="../static/js/main.js")


